/* Styling for the list of commits and individual commit cards */

.scrollbox-c {
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
  
}

.commit-text {
    border-radius: 10px;
    border: none;
    font-size: 14px;
    padding: 4px;
    margin-left: 7px;
}

.hash-text {
    border-radius: 10px;
    border: none;
    font-size: 11px;
    margin: 0;
    padding: 4px;
    
}

.commit-list {
    min-width: 100%;
}

.back-to-repo {
    cursor: pointer;
}

.bi-chevron-double-left {
    margin-bottom: 3px;
    margin-left: 10px;
}

.bi-person-circle {
    margin-bottom: 3px;
}

@media screen and (max-width: 479px) {
    .hash-text {
        font-size: 8px;
    }
}

@media screen and (max-width: 479px) {
    .commit-text {
        font-size: 10px;
    }
}


@media screen and (max-width: 479px) {
    .commit-list {
        padding-right: 5%;
        padding-left: 3%;
    }
}


@media screen and (max-width: 479px) {
    .description {
        font-size: 10px;
    }
}

@media screen and (max-width: 479px) {
    .bi-person-circle {
        width: 12px;
        height: 12px;
    }
}